.popup__submit-save {
  width: 358px;
  height: 50px;
  margin: 18px auto 37px;
  padding: 0;
  background: #000;
  color: #fff;
  border-radius: 2px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: opacity .2s ease-in;
}

.popup__submit-save:hover {
  opacity: .8;
}

@media screen and (max-width: 457px) {
  .popup__submit-save {
    width: 275px;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 11px;
  }
}

@media screen and (max-width: 320px) {
  .popup__submit-save {
    width: 238px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;

  }
}
